In [8]:
##LIBRARIES 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
import pandas as pd
from datetime import datetime, timedelta

In [9]:
##READ
train_df = pd.read_csv("data/training_data(new).csv")
churn_df = pd.read_csv("data/churn.csv")

In [10]:
train_df

,profile_ID,DOB,Contact_type,Gender,Pack_ID,Start_Date,Status,Upgradable,Validity_End,Country,...,Subscription Type,Billing Type,Customer Longevity,Advertise / Video,networkStrength,appVersion,platform,cdn,Contract Term,Contract Amount
0,rsanchez,6/10/2005,Email,Female,432281,10/28/2021,INACTIVE,YES,12/5/2022,India,...,12,Paytm,4,Video,,macOS Ventura 13.0.1,YouTube TV,Cloudfront,12 Months,1500.00
1,rsanchez,6/10/2005,Email,Female,432281,10/28/2021,INACTIVE,YES,12/5/2022,India,...,12,Paytm,4,Video,,Windows 10,Disney + Hotstar,Cloudfront,3 Months,650.00
2,rsanchez,6/10/2005,Email,Female,432281,10/28/2021,INACTIVE,YES,12/5/2022,India,...,12,Paytm,4,Video,,macOS Ventura 13.0.1,Sonyliv,Akamai,1 Month,350.00
3,rsanchez,6/10/2005,Email,Female,432281,10/28/2021,INACTIVE,YES,12/5/2022,India,...,12,Paytm,4,Advertise,,Xcode 14.1,Sling TV,Cloudfront,1 Month,350.00
4,rsanchez,6/10/2005,Email,Female,432281,10/28/2021,INACTIVE,YES,12/5/2022,India,...,12,Paytm,4,Video,,Android TV 12.3.2,Sonyliv,Cloudfront,3 Months,650.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332119,kathleen63,5/28/1989,WhatsApp,Genderqueer,433001,7/24/2021,ACTIVE,NO,12/11/2022,India,...,12,Paytm,4,Advertise,,macOS Ventura 13.0.1,Facebook Watch,Cloudfront,NaN,NaN
332120,kathleen63,5/28/1989,WhatsApp,Genderqueer,433001,7/24/2021,ACTIVE,NO,12/11/2022,India,...,12,Paytm,4,Video,,Xcode 14.1,HBO Max,Akamai,NaN,NaN
332121,kathleen63,5/28/1989,WhatsApp,Genderqueer,433001,7/24/2021,ACTIVE,NO,12/11/2022,India,...,12,Paytm,4,Video,,None,Jio Tv,Cloudfront,NaN,NaN
332122,kathleen63,5/28/1989,WhatsApp,Genderqueer,433001,7/24/2021,ACTIVE,NO,12/11/2022,India,...,12,Paytm,4,Advertise,,FireOS 7.6.1.3,Disney + Hotstar,Cloudfront,NaN,NaN
332123,kathleen63,5/28/1989,WhatsApp,Genderqueer,433001,7/24/2021,ACTIVE,NO,12/11/2022,India,...,12,Paytm,4,Video,,Extension 6.5,Sling TV,Akamai,NaN,NaN

# LABELENCODING

In [11]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
 
train_df['Gender']= label_encoder.fit_transform(train_df['Gender'])
label_encoder = preprocessing.LabelEncoder()
train_df['Status']= label_encoder.fit_transform(train_df['Status'])
label_encoder = preprocessing.LabelEncoder()
train_df['Upgradable']= label_encoder.fit_transform(train_df['Upgradable'])
label_encoder = preprocessing.LabelEncoder()
train_df['Country']= label_encoder.fit_transform(train_df['Country'])
label_encoder = preprocessing.LabelEncoder()
train_df['freq_used_dev']= label_encoder.fit_transform(train_df['freq_used_dev'])
label_encoder = preprocessing.LabelEncoder()
train_df['Subscription Type']= label_encoder.fit_transform(train_df['Subscription Type'])
label_encoder = preprocessing.LabelEncoder()
train_df['Billing Type']= label_encoder.fit_transform(train_df['Billing Type'])
label_encoder = preprocessing.LabelEncoder()
train_df['Contact_type']= label_encoder.fit_transform(train_df['Contact_type'])
label_encoder = preprocessing.LabelEncoder()
train_df['Customer Longevity']= label_encoder.fit_transform(train_df['Customer Longevity'])
label_encoder = preprocessing.LabelEncoder()
train_df['State']= label_encoder.fit_transform(train_df['State'])
label_encoder = preprocessing.LabelEncoder()
train_df['profile_ID']= label_encoder.fit_transform(train_df['profile_ID'])
label_encoder = preprocessing.LabelEncoder()
train_df['Advertise /  Video']= label_encoder.fit_transform(train_df['Advertise /  Video'])
label_encoder = preprocessing.LabelEncoder()
train_df['networkStrength']= label_encoder.fit_transform(train_df['networkStrength'])
label_encoder = preprocessing.LabelEncoder()
train_df['appVersion']= label_encoder.fit_transform(train_df['appVersion'])
label_encoder = preprocessing.LabelEncoder()
train_df['platform']= label_encoder.fit_transform(train_df['platform'])
label_encoder = preprocessing.LabelEncoder()
train_df['cdn']= label_encoder.fit_transform(train_df['cdn'])
label_encoder = preprocessing.LabelEncoder()

In [12]:
train_df

,profile_ID,DOB,Contact_type,Gender,Pack_ID,Start_Date,Status,Upgradable,Validity_End,Country,...,Subscription Type,Billing Type,Customer Longevity,Advertise / Video,networkStrength,appVersion,platform,cdn,Contract Term,Contract Amount
0,776,6/10/2005,0,2,432281,10/28/2021,1,1,12/5/2022,0,...,3,1,3,1,0,7,17,1,12 Months,1500.00
1,776,6/10/2005,0,2,432281,10/28/2021,1,1,12/5/2022,0,...,3,1,3,1,0,5,4,1,3 Months,650.00
2,776,6/10/2005,0,2,432281,10/28/2021,1,1,12/5/2022,0,...,3,1,3,1,0,7,15,0,1 Month,350.00
3,776,6/10/2005,0,2,432281,10/28/2021,1,1,12/5/2022,0,...,3,1,3,0,0,6,14,1,1 Month,350.00
4,776,6/10/2005,0,2,432281,10/28/2021,1,1,12/5/2022,0,...,3,1,3,1,0,1,15,1,3 Months,650.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332119,481,5/28/1989,3,4,433001,7/24/2021,0,0,12/11/2022,0,...,3,1,3,0,0,7,6,1,NaN,NaN
332120,481,5/28/1989,3,4,433001,7/24/2021,0,0,12/11/2022,0,...,3,1,3,1,0,6,7,0,NaN,NaN
332121,481,5/28/1989,3,4,433001,7/24/2021,0,0,12/11/2022,0,...,3,1,3,1,0,4,9,1,NaN,NaN
332122,481,5/28/1989,3,4,433001,7/24/2021,0,0,12/11/2022,0,...,3,1,3,0,0,3,4,1,NaN,NaN
332123,481,5/28/1989,3,4,433001,7/24/2021,0,0,12/11/2022,0,...,3,1,3,1,0,2,14,0,NaN,NaN

In [13]:
def  get_age(dob):
    diff = datetime.now()-dob
    return diff.days/365

In [14]:
train_df["DOB"] = pd.to_datetime(train_df["DOB"])
train_df["age"] = train_df["DOB"].apply(get_age)

In [15]:
train_df["Start_Date"] = pd.to_datetime(train_df["Start_Date"])
train_df["Validity_End"] = pd.to_datetime(train_df["Validity_End"])

In [16]:
train_df["val_period"] = train_df["Validity_End"] - train_df["Start_Date"]

In [17]:
train_df["val_period"] = train_df["val_period"].apply(lambda x: x.days/30 if x.days > 0. else 0.)

In [18]:
train_df["val_period"].describe()

count   332124.00
mean        11.77
std          6.54
min          0.00
25%          6.40
50%         11.60
75%         17.17
max         24.17
Name: val_period, dtype: float64

In [19]:
train_df.columns

Index(['profile_ID', 'DOB', 'Contact_type', 'Gender', 'Pack_ID', 'Start_Date',
       'Status', 'Upgradable', 'Validity_End', 'Country', 'State', 'avg_dur',
       'num_devs', 'freq_used_dev', 'Subscription Type', 'Billing Type',
       'Customer Longevity', 'Advertise /  Video', 'networkStrength',
       'appVersion', 'platform', 'cdn', 'Contract Term', 'Contract Amount',
       'age', 'val_period'],
      dtype='object')

In [20]:
train_df.drop(['Contract Term'], axis=1, inplace= True)

train_df.drop(['Contract Amount'], axis=1, inplace= True)

train_df.drop(['Start_Date'], axis=1, inplace= True)

train_df.drop(['Validity_End'], axis=1, inplace= True)

train_df.drop(['DOB'], axis=1, inplace= True)

In [21]:
train_df.head()

,profile_ID,Contact_type,Gender,Pack_ID,Status,Upgradable,Country,State,avg_dur,num_devs,...,Subscription Type,Billing Type,Customer Longevity,Advertise / Video,networkStrength,appVersion,platform,cdn,age,val_period
0,776,0,2,432281,1,1,0,5,1512.28,18,...,3,1,3,1,0,7,17,1,17.52,13.43
1,776,0,2,432281,1,1,0,5,1512.28,18,...,3,1,3,1,0,5,4,1,17.52,13.43
2,776,0,2,432281,1,1,0,5,1512.28,18,...,3,1,3,1,0,7,15,0,17.52,13.43
3,776,0,2,432281,1,1,0,5,1512.28,18,...,3,1,3,0,0,6,14,1,17.52,13.43
4,776,0,2,432281,1,1,0,5,1512.28,18,...,3,1,3,1,0,1,15,1,17.52,13.43

In [22]:
churn_df = pd.read_csv("data/churn.csv")
churn_df.head()

  profile_ID  churn
0   rsanchez      0
1   rsanchez      0
2   rsanchez      1
3   rsanchez      1
4   rsanchez      1

In [23]:
cols2train = ['Contact_type', 'Gender', 'Pack_ID',
       'Status', 'Upgradable', 'State', 'avg_dur', 'num_devs',
       'freq_used_dev', 'Subscription Type', 'Billing Type',
       'Customer Longevity', 'age','val_period','cdn','platform','appVersion','networkStrength','Advertise /  Video'
]

In [24]:
X = train_df[cols2train]
y = churn_df["churn"]

# TRAI-TEST SPLIT

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.7)

# MODEL

In [26]:
lr_mod = LogisticRegression()

In [27]:
X_train

,Contact_type,Gender,Pack_ID,Status,Upgradable,State,avg_dur,num_devs,freq_used_dev,Subscription Type,Billing Type,Customer Longevity,age,val_period,cdn,platform,appVersion,networkStrength,Advertise / Video
246372,3,5,432746,0,1,5,1399.31,13,4,2,0,2,0.98,19.27,0,16,0,0,0
253867,3,5,433149,1,0,3,1489.83,30,3,2,0,2,29.96,10.27,1,13,3,0,0
41427,0,0,433061,0,0,9,1045.44,16,4,2,0,2,33.73,9.67,0,4,4,0,1
98912,1,5,432269,0,0,18,1136.50,18,0,1,0,1,17.35,18.30,1,13,5,0,0
248778,3,2,432391,0,1,2,1072.06,16,0,3,1,3,23.26,17.37,1,7,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231177,2,2,433069,0,0,27,1692.63,19,3,2,0,2,33.77,5.83,1,6,6,0,1
143874,1,5,432260,0,0,22,1812.92,13,3,3,1,3,0.98,22.43,0,4,6,0,1
35754,0,5,432826,0,1,17,1809.00,20,3,3,1,3,24.13,19.37,0,8,2,0,0
138428,1,2,432681,1,1,15,1063.32,19,4,1,0,1,29.63,3.27,0,5,2,0,1
157543,1,2,433127,1,1,25,905.43,23,4,3,1,3,1.07,18.93,1,10,4,0,1

In [28]:
lr_mod.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

# MODEL ACCURACY

In [29]:
lr_mod.score(X_test, y_test)

0.8011200545976435