In [81]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
import pandas as pd
from datetime import datetime, timedelta

In [82]:
train_df = pd.read_csv("data/training_data.csv")

In [83]:
train_df.head()

,profile_ID,DOB,Contact_type,Gender,Pack_ID,Start_Date,Status,Upgradable,Validity_End,Country,State,avg_dur,num_devs,freq_used_dev,Subscription Type,Billing Type,Customer Longevity
0,rsanchez,6/10/2005,Email,Female,432281,10/28/2021,INACTIVE,YES,12/5/2022,India,Goa,1512.277778,18,Android Phone,12,Paytm,4
1,karina10,1/12/2005,Email,Female,432300,2/10/2021,INACTIVE,NO,11/22/2022,India,Goa,1329.500000,8,iPad,3,NetBanking,2
2,sethconrad,10/30/1992,Email,Male,432410,10/30/2022,ACTIVE,YES,11/10/2022,India,Goa,1478.166667,18,PC/Laptop,6,NetBanking,3
3,ewilson,8/14/2015,Email,Female,432496,1/14/2022,ACTIVE,NO,12/27/2022,India,Goa,1118.133333,15,PC/Laptop,12,Paytm,4
4,evanvelasquez,5/25/1992,Email,Female,432553,1/21/2022,INACTIVE,YES,11/9/2022,India,Goa,1557.428571,21,FireTV,12,Paytm,4

In [84]:
def get_age(dob):
    diff = datetime.now()-dob
    return diff.days/365

In [85]:
from sklearn.preprocessing import LabelEncoder


dataset_train=pd.read_csv("data/training_data.csv")
dataset_train

cat_features=[x for x in dataset_train.columns if dataset_train[x].dtype=="object"]

le=LabelEncoder()

for col in cat_features:
    if col in dataset_train.columns:
        i = dataset_train.columns.get_loc(col)
        dataset_train.iloc[:,i] = dataset_train.apply(lambda i:le.fit_transform(i.astype(str)), axis=0, result_type='expand')

In [86]:
dataset_train.head()

,profile_ID,DOB,Contact_type,Gender,Pack_ID,Start_Date,Status,Upgradable,Validity_End,Country,State,avg_dur,num_devs,freq_used_dev,Subscription Type,Billing Type,Customer Longevity
0,776,752,752,752,432281,752,752,752,752,752,752,1512.277778,18,752,12,752,4
1,478,421,421,421,432300,421,421,421,421,421,421,1329.500000,8,421,3,421,2
2,805,785,785,785,432410,785,785,785,785,785,785,1478.166667,18,785,6,785,3
3,263,183,183,183,432496,183,183,183,183,183,183,1118.133333,15,183,12,183,4
4,261,181,181,181,432553,181,181,181,181,181,181,1557.428571,21,181,12,181,4

In [87]:
train_df["DOB"] = pd.to_datetime(train_df["DOB"])
train_df["age"] = train_df["DOB"].apply(get_age)

In [88]:
train_df.drop(columns = ["DOB"], inplace = True)

In [89]:
train_df["Start_Date"] = pd.to_datetime(train_df["Start_Date"])
train_df["Validity_End"] = pd.to_datetime(train_df["Validity_End"])

In [90]:
le = LabelEncoder()
train_df["Contact_type"] = le.fit_transform(train_df["Contact_type"])

In [91]:
le = LabelEncoder()
train_df["Gender"] = le.fit_transform(train_df["Gender"])

In [92]:
le = LabelEncoder()
train_df["Pack_ID"] = le.fit_transform(train_df["Pack_ID"])

In [93]:
le = LabelEncoder()
train_df["Status"] = le.fit_transform(train_df["Status"])

In [94]:
le = LabelEncoder()
train_df["State"] = le.fit_transform(train_df["State"])

In [95]:
le = LabelEncoder()
train_df["Billing Type"] = le.fit_transform(train_df["Billing Type"])

In [96]:
le = LabelEncoder()
train_df["Upgradable"] = le.fit_transform(train_df["Upgradable"])

In [97]:
le = LabelEncoder()
train_df["freq_used_dev"] = le.fit_transform(train_df["freq_used_dev"])

In [98]:
train_df.drop(columns = ["Country"], inplace = True)

In [99]:
churn_df = pd.read_csv("data/churn.csv")

In [100]:
train_df = train_df.merge(churn_df, on = "profile_ID", how = "left")

In [101]:
cols2train = ['Contact_type', 'Gender', 'Pack_ID',
       'Status', 'Upgradable', 'State', 'avg_dur', 'num_devs',
       'freq_used_dev', 'Subscription Type', 'Billing Type',
       'Customer Longevity', 'age' 
]

In [102]:
X = train_df[cols2train]
y = train_df["churn"]

In [103]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.7)

In [104]:
lr_mod = LogisticRegression()

In [105]:
X_train

,Contact_type,Gender,Pack_ID,Status,Upgradable,State,avg_dur,num_devs,freq_used_dev,Subscription Type,Billing Type,Customer Longevity,age
563,2,5,642,1,1,19,2481.687500,16,4,12,1,4,0.964384
157,0,5,480,0,1,22,1043.090909,11,3,12,1,4,31.789041
202,0,5,704,1,0,4,1152.500000,12,1,6,0,3,30.589041
546,2,5,699,1,0,11,1810.750000,16,4,12,1,4,30.690411
272,1,2,413,0,1,2,951.379310,29,3,3,0,2,25.654795
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,0,5,177,1,1,9,1242.352941,16,3,3,0,2,30.632877
498,1,2,849,1,1,12,730.833333,18,3,12,1,4,33.893151
965,3,5,171,1,0,25,1107.357143,28,3,12,1,4,30.339726
896,3,2,90,1,1,23,983.781250,32,4,3,0,2,21.249315
977,3,2,370,1,0,0,1302.657143,35,1,1,1,1,12.232877

In [106]:
lr_mod.fit(X_train, y_train)

/home/kezia/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [107]:
lr_mod.score(X_test, y_test)

0.8098360655737705